# Dependencies
node_modules/

# Expo / React Native
.expo/
.expo-shared/
.expo-cache/
web-build/
android/
ios/

# Builds
build/
dist/
coverage/

# OS / Editor junk
.DS_Store
Thumbs.db
*.log
npm-debug.log*
yarn-error.log*

# Env files
.env
.env.*

# Misc
*.keystore
*.p8
*.p12
*.key
*.mobileprovision

# Lockfiles (optional, keep if you prefer deterministic installs)
# package-lock.json
# yarn.lock
